@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*:before,
*:after{
	box-sizing: border-box;
}
*{
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	/* color: ; */
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(to right,rgb(150, 169, 233) 0%, #087fc4 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}
.box{
	position: relative;
	background: rgba(255,255,255,.6);
	width: 768px;
	backdrop-filter: blur(15px);
	padding: 20px;
	border-radius: 40px;
	transition: width 500ms ease;
}
.box h4{
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.2rem;
	text-transform: uppercase;
}
.box .date-picker{
	position: relative;
	display: flex;
	align-items: center;
}
.box .date-picker input{
	margin: 0 10px;
	border: 0;
	padding: .5rem;
	border-radius: 30px;
	transition: box-shadow 500ms ease;
}
.box .date-picker input:focus{
	outline: none;
	box-shadow: 0 0 10px #292929;
}
.box .date-picker span{
	display: inline-block;
	text-transform: uppercase;
}
.box .date-picker span#choseDate{
	margin-left: auto;
}
.age-calc{
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 2s, opacity 3s, margin 250ms ease;
}

.age-calc.expand{
	margin-top: 30px;
	max-height: 1000px;
	opacity: 1;
}
.age-calc .age-box{
	position: relative;
	background: #fff;
	border-radius: 10px;
	margin: 10px;
	width: 222px;
	transition: 500ms ease;
}
.age-calc .age-box p.header{
	position: relative;
	text-align: center;
	background: #e45fa1;
	padding: 10px 30px;
	border-radius: 10px 10px 0 0;
	font-size: 1.2rem;
	font-size: 500;
	text-transform: uppercase;
}
.age-calc .age-box:nth-child(even) p.header{
	background: rgb(77, 144, 221);
}
.age-calc .age-box .value{
	text-align: center;
	padding: 30px 20px;
	font-size: 1.5rem;
	transition: 500ms ease;
}

@media (max-width: 768px)
{
	body{
		display: block;
		margin: 2rem 0;
	}
	.box{
		width: 600px;
		margin: 0 auto;
	}
	.age-calc .age-box{
		width: 150px;
		margin: 15px;
	}
	.age-calc .age-box p.header{
		padding: 10px 20px;
		font-size: 1rem;
	}
	.age-calc .age-box .value{
		padding: 30px 20px;
		font-size: 1rem;
	}
}

@media (max-width: 600px)
{
	.box
	{
		width: 300px;
	}
	.box .date-picker
	{
		display: block;
	}
	.box .date-picker input
	{
		margin: 10px 0;
		width: 100%;
	}
	.age-calc .age-box{
		width: 120px;
		margin: 5px;
	}
	.age-calc .age-box p.header{
		padding: 10px 5px;
		font-size: .8rem;
	}
	.age-calc .age-box .value
	{
		padding: 30px 5px;
		font-size: .9rem;
	}
}